* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

/*Variáveis*/



/*Tags de uso*/

.container {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 2%;
    flex-direction: column;
}

.notf {
    width: 250px;
    height: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    top: 1%;
    text-align: center;
    line-height: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    user-select: none;
    transition: opacity 0.5s ease, visibility 0.5s;
    visibility: hidden;
    opacity: 0;
}

.notf.show {
    visibility: visible;
    opacity: 1;
}

/*header*/

header {
    width: 100%;
    height: 170px;
    background-color: rgb(109, 109, 136);
}

header > i {
    color: black;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 1%;
    left: 1%;
    cursor: pointer;
}

header .txt-t {
    color: #fff;
    text-align: center;
    padding: 1% 0;
}

header .container {
    background-color: #ccc;
    width: 100%;
    height: 100px;
    max-width: 858px;
    position: relative;
    top: 40px;
    display: flex;
}

header > i {
    color: black;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 30px;
    height: 30px;
    font-size: 25px;
    cursor: pointer;
}

header .container h1 {
    color: orange;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    line-height: 50px;
}

header .container .btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header .container .btn-m {
    cursor: pointer;
    color: black;
    width: 160px;
    height: 35px;
    background-color: white;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid black;
    user-select: none;
}

header .container .btn-m:hover {
    background-color: black;
    transition: 1s;
    color: white;
    border: 1px solid white;
}

/*section*/

section.s-main {
    width: 100%;
    min-height: 90vh;   
    background-color: blue;
}

section.s-main .container {
    width: 100%;
    height: 100%;
    padding: 8% 5% 2% 5%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-direction: row;
}

section .order-box {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    flex: 1;
}

section .order-box > .groups {
    width: 100%;
    min-height: 125px;
    padding: 1% 5%;
    background-color: rgb(56, 27, 27);
}

section .order-box .g-size {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: red;
}

h1.title-g {
    color: white;
    font-size: 28px;
    padding: 0.5%;
}

section .order-box .size-btns {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

section .order-box .btn-order {
    width: 140px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    margin-right: 2%;
}

section .order-box .g-tborder {
    background-color: rgb(32, 25, 54);
}

section .order-box .g-border {
    background-color: rgb(14, 39, 31);
}

section .order-box .g-drink {
    background-color: rgb(82, 67, 67);
}

section .container .order-resume { 
    width: 300px;
    min-height: 500px;
    background: rgb(92, 85, 85);
    border-radius: 15px;
    padding: 20px;
    position: sticky;
    top: 20px;
}

section .container .order-resume h1 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

section .container .order-resume p {
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
}